<table *ngIf="countries.length > 0" class="table table-hover animate__animated animate__backInRight">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; let i = index">
            <th>{{i+1}}</th>
            <th>
                <img src="{{country.flags.png}}" alt="{{country.flag}}" style="width: 50px;">
            </th>
            <th>{{country.capital}}, {{country.name.common}}</th>
            <th>{{country.population | number}}</th>
            <th>
                <a [routerLink]="[ '/countrie/', country.cca3 ]" class="btn btn-outline-secondary">Ver...</a>
            </th>
        </tr>
    </tbody>
</table>
